body{
    margin:0px;
    padding:0px;
    font-family: verdana;
    text-align: center;
    background: rgba(68, 69, 99, 0.5);
}

h1, h3{
    text-align: center;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

a{
    color: blue;
    text-align: center;
}