body{
    margin:0px;
    padding:0px;
    font-family: verdana;
    text-align: center;
    color:white;
    font-size: 16px;
    background: rgb(68, 69, 99);
}

p{
    margin-top: 20px;
}

#game{
    margin-left: 15px;
}

#game2{
    margin-right: 5px;
}

.container{
    float: left;
    width: 33vw;

}

select{
    font-size: 17px;
    top: 5px;
}

table
{
    width: 31vw;
    height: 400px;
    font-size:5.5vh;
    background: #f8f8f8;
    
}

table, td, tr{
    border-collapse: collapse;
    color:black;
}

td
{
    width: 40px;
    border: solid 4px black;
    text-align:center;
    box-sizing:border-box;
}

td:hover
{
    background-color: #dee1e5;
    cursor:pointer;
}

.tabel{
    margin-top: 100px;
}

button{
    width: 100px;
}

.tree{
    text-align: left;
}

ul.tree li {
    list-style-type: none;
    position: relative;
}

ul.tree li ul {
    display: none;
}

ul.tree li.open > ul {
    display: block;
}

ul.tree li a {
    color: orange;
    text-decoration: none;
}

ul.tree li a:before {
    height: 1em;
    padding:0 .1em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.3em;
    top: .2em;
}

ul.tree li > a:not(:last-child):before {
    content: '+';
}

ul.tree li.open > a:not(:last-child):before {
    content: '-';
}
