body{
    margin:0px;
    padding:0px;
    font-family: verdana;
    text-align: center;
    color:white;
    font-size: 16px;
    background: rgb(68, 69, 99);
}

p{
    margin-top: 20px;
}

#game{
    margin-left: 15px;
}

#game2{
    margin-right: 5px;
}

.container{
    float: left;
    width: 33vw;

}

#output1{
    width: 30vw;
}

select{
    font-size: 17px;
    top: 5px;
}

table
{
    width: 31vw;
    height: 400px;
    font-size:5.5vh;
    background: #f8f8f8;
    
}

table, td, tr{
    border-collapse: collapse;
    color:black;
}

td
{
    width: 40px;
    border: solid 4px black;
    text-align:center;
    box-sizing:border-box;
}

td:hover
{
    background-color: #dee1e5;
    cursor:pointer;
}

.tabel{
    margin-top: 100px;
}

button{
    width: 100px;
}
/* 
.treeRoot{
    text-align: left;
}

ul.treeRoot li {
    list-style-type: none;
    position: relative;
}

div.treeRoot li ul {
    display: none;
}

ul.treeRoot li.open > ul {
    display: block;
}

ul.treeRoot li a {
    color: orange;
    text-decoration: none;
}

ul.treeRoot li a:before {
    height: 1em;
    padding:0 .1em;
    font-size: .8em;
    display: block;
    position: absolute;
    left: -1.3em;
    top: .2em;
}

ul.treeRoot li > a:not(:last-child):before {
    content: '+';
}

ul.treeRoot li.open > a:not(:last-child):before {
    content: '-';
}

.treeRoot li {
    list-style: none;
    margin: 5px 0 5px 20px;
}
.treeRoot li[level='0'] {
    margin-left: 0;
}
.treeRoot li:not(.parentNode) {
    padding-left: 15px;
}
.triangle {
    width:0;
    height:0;
    overflow:hidden;
    font-size: 0;     
    line-height: 0;  
    border-width:5px;
    transition: transform .2s;
    transform-origin: left center;
    border-style:solid dashed dashed dashed;
    border-color:transparent transparent transparent #000;
}
.closed .triangle {
    transform: rotateZ(90deg);
}
.treeRoot div.title {
    height: 21px;
    position: relative;
}
.treeRoot div.title i {
    position: absolute;
    top: 6px;
    left: 0;
}
.treeRoot div.title p {
    position: absolute;
    top: 0;
    left: 15px;
    margin: 0;
} */